
.container-user-show {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.container-user-show .back-button {
 color:  #0F2C59;
}

.container-user-show .edit-button{
  color:  #0F2C59;
}

.image_centre {
  text-align: center;
}

.user-greeting {
  font-size: 21px;
}

.certif-button {
  font-size: 50px
}

.myfavlist {
    width: 400px;
    height: 65px;
    background: #435585;
}

.heart {
  color: #ffffff;
  font-size: 30px;
  float: left;
  margin-top: 20px;
  margin-left: 30px;
}

.titre {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
    margin-right: 10px;
    padding-top: 20px;
}

.btn {
  float: left;
}
