
.container {
  margin-top: 60px;
  padding: 20px;
}

.btn-return {
 color:  #0F2C59;
}

.btn-edit {
  color:  #0F2C59;
}

.image_centre {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
}
