
.container-user-show {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.container-user-show .back-button {
 color:  #0F2C59;
}

.container-user-show .edit-button{
  color:  #0F2C59;
}

.image_centre {
  text-align: center;
}

.user-greeting {
  font-size: 21px;
}

.certif-button {
  font-size: 50px
}
