.form-container .btn{
  border: 1px solid black;
  background-color: #0F2C59;
  text-decoration: none;
  color:#EADBC8;
  vertical-align: center;
  height: 30px;
  border-radius: 5px 5px 5px 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
.form-container .btn:hover{
  background-color: #435585;
  color: #F8F0E5;
}
.form-container{
  margin-top:20px;
}
