<div class="level-container">
  <div id="SkillBox">
  <div class="SkillBar">
    <div id="Skill-HTML">
      <span class="Skill-Area ">Maitre Jedi :</span>
      <span class="PercentText ">100/100</span>
    </div>
  </div>
</div>
</div>

<%# pour utiliser la barre de progression : <%= render partial: "scenes/level"%>
