<div class="container">
  <div class="scene-container d-flex align-items-center justify-content-center">
  <hr>
  <div data-aos="fade-left" data-aos-duration="1000">
    <h1>Scènes</h1>
  </div>
  <hr>
  </div>
  <%= render partial: "modal_map" %>
  <ul class="cards-scene" data-controller="aos">
    <% @scenes.each do |scene| %>




    <div data-aos-duration="1000">
    <%# <div data-aos="flip-up" data-aos-duration="1000"> %>
      <li class="card-scene"><%= render partial: "shared/card_scene", locals: { scene: scene } %></li>
    </div>
    <% end %>
  </ul>

  <%= render partial: "modal_map"%>

<%#= link_to "Map", map_path, class: 'btn-card' %>
</div>
