<div class="container">
  <div class="scene-container">
    <h1>Scenes</h1>
    <%= link_to "Ajouter une scene", new_scene_path, class: 'btn-card' %>
  </div>
  <ul class="cards-scene">
    <% @scenes.each do |scene| %>
      <li class="card-scene"><%= render partial: "shared/card_scene", locals: { scene: scene } %></li>
    <% end %>
  </ul>
</div>
