
<div class="box">
  <div class="card text-bg-dark">
    <img src="https://fr.web.img4.acsta.net/r_654_368/newsv7/19/10/24/14/31/2884301.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h3 class="card-text_left"><%= @scene.title %>,<%= @scene.movie.title %></h3>
      <h3 class="card-text_right">Country, ville</h3>
    </div>
  </div>
</div>
