<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="container-logo">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.png" %>
      <% end %>
      <h1>Welcome...</h1>
    </div>
    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div class="container-alert">
          <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #ffffff;"></i>
          <i class="fa-solid fa-heart fa-lg" style="color: #ffffff;"></i>
          <%= image_tag "pdp.png" %>
    </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <div class="container-alert">
            <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #ffffff;"></i>
            <i class="fa-solid fa-heart fa-lg" style="color: #ffffff;"></i>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
