<div class="home" data-controller="aos">
      <div class="home-banner toto">
      <h2>
        <div data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-center"><span><%= image_tag("cinehunt.png", class: "logo") %></span></div>
        <div data-aos="fade-left" data-aos-duration="1500"><h4>
        <span>Découvre </span>
        <span>l’emplacement</span>
        <br>
        <span>de </span>
        <span>tes </span>
        <span>scènes </span>
        <span>préférées</span></h4></div>
      </h2>
      </div>
  <% if user_signed_in? %>
  <div data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"><h5>Vos favoris</h5></div>
  <div data-aos="flip-up">
    <div id="carouselExample" class="carousel slide favorite">
      <div class="carousel-inner">
        <div class="carousel-item active" id="carousel-1">
        </div>
        <div class="carousel-item" id="carousel-2">
        </div>
        <div class="carousel-item" id="carousel-3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>
    <div data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"><h5>Tendances actuelles</h5></div>
      <div data-aos="flip-up">
      <div id="carouselExample1" class="carousel slide tendance">
      <div class="carousel-inner">
        <div class="carousel-item active" id="carousel-1">
        </div>
        <div class="carousel-item" id="carousel-2">
        </div>
        <div class="carousel-item" id="carousel-3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>
    <div data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"><h5>Pour vous</h5></div>
    <div data-aos="flip-up" data-aos-duration="1000">
      <div id="carouselExample3" class="carousel slide for-you">
      <div class="carousel-inner">
        <div class="carousel-item active" id="carousel-1">
        </div>
        <div class="carousel-item" id="carousel-2">
        </div>
        <div class="carousel-item" id="carousel-3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>
  <% else %>

    <h2>Tendances actuelles</h2>
    <h2>Halloween</h2>
    <h2>Horreur</h2>
  <% end %>
</div>
