<div class="home">
  <div id="banner" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" id="carousel-1">
        <h3>Voyage sur tes lieux de <br>tournages favoris<h3>
      </div>
      <div class="carousel-item" id="carousel-2">
        <h3>Découvre l’emplacement exact,<br> de tes scènes préférées<h3>
      </div>
      <div class="carousel-item" id="carousel-3">
        <h3>Voyage sur tes lieux <br>de tournages favoris</h3>
      </div>
      <div class="carousel-item" id="carousel-4">
        <h3>Découvre l’emplacement exact,<br> de tes scènes préférées</h3>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <h2>Vos favoris</h2>
    <div id="carouselExample" class="carousel slide favorite">
      <div class="carousel-inner">
        <div class="carousel-item active" id="carousel-1">
        </div>
        <div class="carousel-item" id="carousel-2">
        </div>
        <div class="carousel-item" id="carousel-3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <h2>Tendances actuelles</h2>
      <div id="carouselExample1" class="carousel slide tendance">
      <div class="carousel-inner">
        <div class="carousel-item active" id="carousel-1">
        </div>
        <div class="carousel-item" id="carousel-2">
        </div>
        <div class="carousel-item" id="carousel-3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <h2>Pour vous</h2>
      <div id="carouselExample3" class="carousel slide for-you">
      <div class="carousel-inner">
        <div class="carousel-item active" id="carousel-1">
        </div>
        <div class="carousel-item" id="carousel-2">
        </div>
        <div class="carousel-item" id="carousel-3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% else %>

    <h2>Tendances actuelles</h2>
    <h2>Halloween</h2>
    <h2>Horreur</h2>
  <% end %>
</div>
