.voiture{
  height: 50px;
  width:100px;
  animation: voiture 2s ease-in-out;
  display:flex;
  flex-direction: row;
}
.voiture2{
  height: 50px;
  width:100px;
  animation: voiture2 2s ease-in-out;
}
.fire{
  margin-top: 23px;
  height: 25px;
  width:100px;
  margin-left: -23px;
}

@keyframes voiture {
  from {
    margin-left: 500px;
  }

  to {
    margin-left: 0px;
  }
}

@keyframes voiture2 {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: -500px;
  }
}

.voiture h1{
  margin-top: 10px;
}
