.card-text_right {

  position:absolute;
  bottom:0;
  right:0;
  color:white;
  font-size:20px;
  margin-right: 5px;
}

.card-text {
  position:absolute;
  top:0;
  left:0;
  color:white;
  font-size:20px;
  margin-left: 5px;
}

.card {
  height: 200px;
}

.white_frame {
  border:5px solid white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.card_up {
  display: flex;

  justify-content: space-between;
}

.top-fixed {
  position: relative;
  bottom: 30px;
  right: -292px;
  top: -11px;
}

.overlink {
  display: block;
  width: 80%;
  height: 100%;
}
