.card-text_right {

  position:absolute;
  bottom:0;
  right:0;
  color:white;

}


.box {
  position:relative;
}

.white_frame {
  border:5px solid white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  margin-top: 10px;
  margin-bottom: 10px;
}
