.level-container .sabre{
  width: 360px;
  height: 100px;
  animation: sabre 2s linear;
  background-image: url("https://mf.hypotheses.org/files/2022/09/marie.png");
  background-size: cover;
  overflow: hidden;
  margin-top: -30px;
}
@keyframes sabre {
  from {
    width: 100px;
  }

  to {
    width: 360px;
  }
}

.level-container .sabre2{
  width: 240px;
  height: 100px;
  animation: sabre2 1s linear;
  background-image: url("https://cdn.pixabay.com/photo/2018/04/15/18/18/star-wars-3322343_960_720.png");
  background-size: cover;
  overflow: hidden;
  margin-top: -30px;
}
@keyframes sabre2 {
  from {
    width: 100px;
  }

  to {
    width: 240px;
  }
}
.level-container .cadre{
  margin-top:20px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 35px;
  background-color: white;
  box-shadow: 3px 3px 13px 3px grey;
}
.level-container .level {
  color:#0F2C59;
  text-align: center;
  font-size: 20px;
  height: 20px;
}
.level-container .point{
  font-size: 16px;
  color:#0F2C59;
  text-align: center;
}
.level-container .content{
  padding-top:20px;
}

.level-container .level-modal{
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 50%;
}
