.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

// .mapboxgl-canvas-container {
//   height: 700px !important;
//   .mapboxgl-canvas {
//     height: 700px !important;
//   }
// }
.map-modal{
  height: 70px;
  width: 100px;
  position: fixed;
  z-index: 1001;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}
