.navbar-lewagon {
  justify-content: space-between;
  background: #0F2C59;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color:white;
}
.navbar-lewagon a:hover{
  color: #EADBC8;
}
.navbar-lewagon .container-logo{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar-lewagon h1{
  color: white;
  font-size: 14px;
  margin-left:7px;
  margin-top:12px;
}
.navbar-lewagon{
  --bs-navbar-brand-margin-end: 0px;
}
.navbar-lewagon .container-alert{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar-lewagon .container-alert i{
  margin-right: 10px;
}
.navbar-lewagon .container-alert img{
  width:40px;
  height:40;
}

.topnav  {
  width: 250px;
  padding: 10px;
}

.new-offer{
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  text-decoration:none;
  color:black;
  margin-right:40px;
  padding: 10px;
}
.new-offer:hover{
  background-color: #d2d2d2;
}
