.navbar-lewagon {
  justify-content: space-between;
  background: #0F2C59;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color:white;
}
.navbar-lewagon a:hover{
  color: #EADBC8;
}
.navbar-lewagon .container-logo{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar-lewagon h1{
  color: white;
  font-size: 14px;
  margin-left:7px;
  margin-top:12px;
}
.navbar-lewagon{
  --bs-navbar-brand-margin-end: 0px;
}
.navbar-lewagon .container-alert{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar-lewagon .container-alert i{
  margin-right: 10px;
}
.navbar-lewagon .container-alert img{
  width:40px;
  height:40;
  cursor:pointer;
}
.topnav{
  width:200px;
  margin-left:10px;
  margin-right:10px;
}
.navbar-lewagon .container-alert .icon{
  color:white;
  cursor:pointer;
}
.navbar-lewagon .container-alert .icon:hover{
  color: #EADBC8;
}
.navbar-lewagon .dropdown-menu{
  background-color: #F8F0E5;
}
.navbar-lewagon .dropdown-menu a{
  color:#0F2C59
}
.navbar-lewagon .dropdown-menu a:hover{
  color:#435585;
  background-color: #EADBC8;
}
.navbar-nav .dropdown-menu {
  position: absolute;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  border-width: 2px 0 0;

}
