.checked {
  color: white;
  border:1px solid #0F2C59;
}

.list-reviews {
  padding-top:20px;
  border-bottom:1px solid #0F2C59;

}

.rating-moyen {
  justify-content: center;
  padding-top:30px;
  padding-bottom:20px;
}
